body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h6 {
  margin: 0;
  font-size: 12px;
}

li {
  list-style-type: none;
}
.li_image {
  margin: 5px 0px;
}
.li_image:hover {
  cursor: pointer;
  background-color: #ccc;
}
.active-li {
  background: antiquewhite;
  padding: 5px;
}

.parentLabel {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 30px;
}

#container {
  display: flex;
}

.sidebar-container {
  width: 350px;
  margin-right: 30px;
}

#sidebar {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;

  max-height: 600px;
  height: 300px;
  overflow-y: auto;

  position: relative;
}

#list-images {
  list-style: none;
  padding: 0;
}

#todo-list li {
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

#todo-list li:hover {
  background-color: #f2f2f2;
}

#btn-load-image {
  padding: 5px 5px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #ccc;
  margin: 10px 0;
  margin-right: 5px;
}

#load-json-button {
  margin: 0 5px;
  padding: 5px 5px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #ccc;
}

#save-json-button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #ccc;
}

#main-content {
  flex: 1;
  margin-left: 20px;
  max-width: 800px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

#images-content {
  margin: 10px 0px;
}

.image-viewer {
  max-width: 100%;
  max-height: 500px;
}

#save-button {
  width: 200px;
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
}

#sidebar-right {
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 10px;

  width: 100%;
  max-height: 600px;
  min-height: 600px;
  overflow-y: auto;
}

.toggle-icon {
  font-size: 15px;
  line-height: 15px;
  margin-right: 10px;
  border: 1px solid;
  padding: 0 5px;
  font-weight: 700;
  cursor: pointer;
}

.toggle-icon:hover {
  background-color: #ccc;
}

#json-data {
  width: 1200px;
  height: 320px;
  overflow-y: auto;
  background-color: #222222;
  color: #f2f2f2;
  font-size: 14px;
}

.zoom-button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}
#zoom-in {
  right: 10px;
}
#zoom-out {
  right: 50px;
}

#name-image {
  font-size: 20px;
  padding: 10px 0;
}
#name-image-json {
  font-size: 20px;
  padding: 10px 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: rgb(30, 30, 30); /* Đổi màu nền thành đen */
  color: #fff; /* Đổi màu chữ thành trắng */
}

/* Các phần tử có background nền cần điều chỉnh */
#sidebar,
#sidebar-right,
#todo-list li {
  background-color: rgb(30, 30, 30); /* Đổi màu nền thành màu đen nhẹ */
  border-color: #444; /* Đổi màu viền */
}

/* Các phần tử hover */
#todo-list li:hover,
.li_image:hover,
.toggle-icon:hover {
  background-color: #555; /* Đổi màu nền khi hover */
}

/* Các phần tử active */
.active-li {
  background: #666; /* Đổi màu nền khi active */
}

/* Các phần tử chữ */
h6,
#name-image {
  color: #ccc; /* Đổi màu chữ thành màu xám nhạt */
}

/* Các phần tử nút */
#btn-load-image,
#load-json-button,
#save-json-button,
#save-button,
.zoom-button {
  border-color: #7f7e7e; /* Đổi màu viền nút */
  color: #fff; /* Đổi màu chữ thành trắng */
  background-color: rgb(30, 30, 30);
}

.zoom-button:hover,
#btn-load-image:hover,
#load-json-button:hover,
#save-json-button:hover,
#save-button:hover {
  background-color: #444; /* Đổi màu nền khi hover */
}

/* Thêm các hiệu ứng hover */
#btn-load-image:hover,
#load-json-button:hover,
#save-json-button:hover,
#save-button:hover,
.zoom-button:hover {
  cursor: pointer;
}
