body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h6 {
  margin: 0;
  font-size: 12px;
}

li {
  list-style-type: none;
}
.li_image {
  margin: 5px 0px;
}
.li_image:hover {
  cursor: pointer;
  background-color: #ccc;
}
.active-li {
  background: antiquewhite;
  padding: 5px;
}

.parentLabel {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 30px;
}

#container {
  display: flex;
}

.sidebar-container {
  width: 350px;
  margin-right: 30px;
}

#sidebar {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;

  max-height: 600px;
  height: 300px;
  overflow-y: auto;

  position: relative;
}

#list-images {
  list-style: none;
  padding: 0;
}

#todo-list li {
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

#todo-list li:hover {
  background-color: #f2f2f2;
}

#btn-load-image {
  padding: 5px 5px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #ccc;
  margin: 10px 0;
  margin-right: 5px;
}

#load-json-button {
  margin: 0 5px;
  padding: 5px 5px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #ccc;
}

#save-json-button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #ccc;
}

#main-content {
  flex: 1;
  margin-left: 20px;
  max-width: 800px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

#images-content {
  margin: 10px 0px;
}

.image-viewer {
  max-width: 100%;
  max-height: 500px;
}

#save-button {
  width: 200px;
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
}

#sidebar-right {
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 10px;

  width: 100%;
  max-height: 600px;
  min-height: 600px;
  overflow-y: auto;
}

.toggle-icon {
  font-size: 15px;
  line-height: 15px;
  margin-right: 10px;
  border: 1px solid;
  padding: 0 5px;
  font-weight: 700;
  cursor: pointer;
}

.toggle-icon:hover {
  background-color: #ccc;
}

#json-data {
  width: 100%;
  height: 320px;
  overflow-y: auto;
}

.zoom-button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}
#zoom-in {
  right: 10px;
}
#zoom-out {
  right: 50px;
}

#name-image {
  font-size: 20px;
  padding: 10px 0;
}
